*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.container{
    width: 90vw;
    height: 90vh;
    backdrop-filter: blur(19px) saturate(180%);
    background-color: rgba(30, 30, 30, 0.75);/*(30, 30, 30, 0.75);*/
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 0, 0.125);
    display: flex;
}

.outer-background{
    background-color: rgba(30, 30, 30, 0.1);
}