.icons{
    cursor: pointer;
}

.container-multi-select {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.multi-select-wrapper {
  width: 100%;
  max-width: 500px; 
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.1);
}