section.form{
    background-color: clear;
    background: clear;
    padding: 10%;
    text-align: center;
    display: flex;
}

form{
    background-color: rgb(139, 179, 203);
    display: inline-block;
}